*{ margin:0; padding: 0; box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;}


.carousel-inner img {
    width: 95%;
    height: 99vh;
  }

  .aboutimg{
    width: 90%;
    height: 250px!important;
  } 